.navbar-header {
    position: absolute;
}

div.ibox-content .form-control {
    font-size: 13px;
}

label {
    font-weight: normal;
}

.ibox-content .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1bb393;
    border-color: #1bb393;
    color: white;
}

.ibox-content .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white;
}

.ibox-content .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #ececec;
}

.input-group-addon, .input-group-btn {
    width: auto;
}

div.weekly {
    display: flex;
    justify-content: space-between;
}

td.publish .select2-container--default .select2-selection--single,
td.publish .select2-container--default .select2-selection--multiple {
    border-color: #1ab394;
}

td.publish .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #1ab394;
}

td.not_publish .select2-container--default .select2-selection--single,
td.not_publish .select2-container--default .select2-selection--multiple {
    border-color: #ed5565;
}

td.not_publish .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ed5565;
}

td.publish .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #1ab394 transparent;
}

td.publish .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #1ab394 transparent transparent transparent;
}

td.not_publish .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #ed5565 transparent;
}

td.not_publish .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #ed5565 transparent transparent transparent;
}

.modal-open .select2-container--open .select2-dropdown,
.modal-open .popover,
.modal-open .ck.ck-balloon-panel {
    z-index: 10000 !important;
}

.md-skin .modal-body .ibox {
    margin-bottom: 0;
}

#preview_schedule {
}

#preview_schedule .form-group {
    margin-bottom: 15px;
}

#preview_schedule .form-group > label,
#preview_schedule .form-group > div {
    display: flex;
    flex-direction: row;
}

#preview_schedule .form-group > label {
    justify-content: flex-end;
    font-weight: 600;
    padding: 0;
}

#preview_schedule .form-group > div {
    align-items: center;
}

.modal-open .modal-lg {
    max-width: 1200px;
}

.issue-tracker .switchery {
    height: 15px;
    width: 30px;
}

.issue-tracker .switchery > small {
    width: 15px;
    height: 15px;
}

.ibox-content th {
    font-weight: 500;
}

.ibox-content .issue-info a {
    font-weight: 500;
}

ol.breadcrumb {
}

ol.breadcrumb li {
}

ol.breadcrumb li.active {
}

ol.breadcrumb li a {
    color: #1ab394;
}

ol.breadcrumb li a:hover {
    color: #18a689;
}

.form-group .custom-file {
    height: 31px;
}

.form-group .custom-file-label {
    height: 100%;
    display: flex;
    align-items: center;
    color: #7a7a7a;
}

.form-group .custom-file-label::after {
    height: 100%;
    background: #1ab394;
    border-color: #1ab394;
    color: white;
    content: 'Выберите файл';
    display: flex;
    align-items: center;
    cursor: pointer;
}

.record_form .select2-container .select2-selection--single {
    height: 34px;
}

.record_form .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}

.record_form .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}

.md-skin .nav > li > a {
    font-size: 12px;
}

#calendar .t_past.fc-event {
    opacity: 0.5;
}

#calendar .close_course.fc-event {
    background: #23c6c8;
    border-color: #23c6c8;
}

#calendar.fc-unthemed td.fc-today {
    background: #f3f3f4;
}

.ibox-content.calendar_popover, .popover-body, .popover {
    background: #f3f3f4 !important;
    border-radius: 10px;
    font-size: 13px !important;
}

.popover-header {
    text-align: center;
}

.bs-popover-auto[x-placement^="right"] .arrow::after, .bs-popover-right .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after, .bs-popover-left .arrow::after {
    border-right-color: #1ab394 !important;
}

.select2-dropdown {
    z-index: 1090 !important;
}

#calendar .fc-event-container a.fc-event:hover {
    color: white;
    background: #18a689;
}

#calendar .fc-event-container a.close_course.fc-event:hover {
    color: white;
    background: #21b9bb;
    border-color: #21b9bb;
}

.record_form .pagination > .active > a {
    background: #1cb393;
    border-color: #1cb393;
}

.header_alert.alert {
    padding: 20px;
    margin: 20px 0 0 0;
}

div.compare_modal {
}

div.compare_modal .compare_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.compare_modal .compare_row > div {
    width: 200px;
    text-align: center;
}

div.compare_modal .compare_row > div.label_field {
    text-align: right;
    font-weight: 500;
}

.statistic-years tr a {
    color: #1ab394;
}

.statistic-years tr a:hover {
    color: #18a689
}
