html, body {
    height: 100%;
    width: 100%;
    font: normal normal 16px 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html, body, body * {
    margin: 0;
    box-sizing: border-box;
}

body.no-scroll {
    overflow-y: hidden;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .1);
}

::-webkit-scrollbar-thumb {
    background: #0dce6b;
}


.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

strong {
    font-weight: 500;
}

section.main_page_top {
    width: 100%;
    background: url("../images/main_header_bg.jpg") center center;
    background-size: cover;
    position: relative;
}

section.main_page_top .logo_academy {
    width: 960px;
    margin-bottom: 50px;
}

section.main_page_top div.tagline {
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    line-height: 1.55;
}

section.main_page_top .line_under_logo {
    width: 160px;
    height: 1px;
    background: white;
    margin: 0 auto;
}

section.main_page_top > div.flex {
    align-items: center;
    justify-content: center;
    height: 441px;
}

section.main_page_top .decorating {
    position: absolute;
    left: 50%;
    bottom: -1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 8vw;
    fill: #fff;
    z-index: 1;
}

section.main_page_description {
    padding: 25px 0;
}

section.main_page_description div.description_text {
    width: 960px;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    color: #7a7a7a;
}

.title {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

section.main_page_courses {
    padding: 75px 0 75px 0;
}

section.main_page_courses .course_wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

section.main_page_courses div.course, .course-ege {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    width: 360px;
    height: 190px;
    margin: 20px;
}

section.main_page_courses div.course:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.10);
}

div.course > a, div.course-ege > a {
    display: block;
    text-decoration: none;
    color: black;
}

div.course-ege > a {
    cursor: default;
}

div.course div.course_info, div.course-ege div.course_info {
    height: 135px;
    justify-content: center;
    align-items: center;
}

div.course div.course_info p.course_title, div.course-ege div.course_info p.course_title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

div.course div.course_info p.course_status, div.course-ege div.course_info p.course_status {
    font-size: 18px;
    font-weight: 300;
    color: #7a7a7a;
}

div.course div.course_action, div.course-ege div.course_action {
    height: 51px;
    align-items: center;
}

div.course div.course_action p.link, div.course-ege div.course_action p.link {
    color: #0bcf6b;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    position: relative;
}

div.course div.course_action p.link i, div.course-ege div.course_action p.link i {
    position: absolute;
    top: 0;
    right: -20px;
}

div.course:hover div.course_action p.link i {
    animation: move 1s infinite linear;
}

section.main_page_sign_up {
    width: 100%;
    background: url("../images/main_header_bg.jpg");
    color: white;
    padding: 75px 0;
}

section.main_page_sign_up .title {
    padding: 0 10px;
}

section.main_page_sign_up p.form_description {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.55;
    margin-bottom: 50px;
    text-align: center;
}

section.main_page_sign_up form {
    max-width: 560px;
    margin: auto;
}

section.main_page_sign_up form fieldset,
section.main_page_sign_up form .input-group {
    border: none;
    margin: 0 5px 20px;
    max-width: 560px;
    padding: 0 10px;
    position: relative;
}

section.main_page_sign_up form .input-group .input-group-addon {
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    color: #7a7a7a;
    display: none;
}

section.main_page_sign_up form .input-group.has-success .input-group-addon.has-success,
section.main_page_sign_up form .input-group.has-error .input-group-addon.has-error {
    display: flex;
}

section.main_page_sign_up .input-group.has-success .select2-container .select2-selection--single,
section.main_page_sign_up form .input-group.has-success input {
    border-color: #0bcf6b;
    /*box-shadow: 0 0 17px #0dce6b;*/
}

section.main_page_sign_up .input-group.has-error .select2-container .select2-selection--single,
section.main_page_sign_up form .input-group.has-error input {
    border-color: #ed5565;
    /*box-shadow: 0 0 17px #ed5565;*/
}

section.main_page_sign_up form .input-group.has-error .help-block {
    color: #ed5565;
    padding: 5px 0 5px 5px;
}

section.main_page_sign_up form .input-group.has-success .input-group-addon {
    color: #0bcf6b;
}

section.main_page_sign_up form .input-group.has-error .input-group-addon {
    color: #ed5565;
}

section.main_page_sign_up form input {
    width: 100%;
    height: 56px;
    border: 1px solid white;
    background: white;
    border-radius: 7px;
    padding: 0 76px 0 20px;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

section.main_page_sign_up form input[type="submit"],
section.main_page_sign_up form button[type="submit"] {
    background: #0bcf6b;
    border: 1px solid #0bcf6b;
    font-size: 18px;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 56px;
    border-radius: 7px;
    cursor: pointer;
}

section.main_page_sign_up .select2-container .select2-selection--single {
    height: 56px;
    border-color: white;
    border-radius: 7px;
}

section.main_page_sign_up .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 56px;
    padding-left: 20px;
}

section.main_page_sign_up .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 56px;
    width: 56px;
}

section.main_page_sign_up .input-group.has-success .select2-container--default .select2-selection--single .select2-selection__arrow,
section.main_page_sign_up .input-group.has-error .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.message_block {
    padding: 50px 0;
}

.message_block .message {
    max-width: 450px;
    background: #62c584;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.55;
    color: white;
    text-align: center;
    margin: 0 auto;
}

section.main_page_teacher {
    padding: 75px 0 0 0;
}

section.main_page_teacher .title {
    margin-bottom: 15px;
}

section.main_page_teacher .teacher_description {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 75px;
    color: #7a7a7a
}

section.main_page_questions .collapsible {
    color: black;
    cursor: pointer;
    padding: 18px 18px 14px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    line-height: 1.35;
    font-weight: 500;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

section.main_page_questions .collapsible span {
    align-items: center;
    display: flex;
}

section.main_page_questions .other-questions {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 75px;
    color: #7a7a7a;
}

section.main_page_questions .other-questions a {
    color: inherit;
    font-weight: 400;
    line-height: 1;
    position: relative;
    text-decoration: unset;
}

section.main_page_questions .other-questions a:hover {
    color: #0bcf6b;
}

section.main_page_questions .collapsible p {
    width: 95%;
}

section.main_page_questions .active {
    background-color: white;
}

section.main_page_questions .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
    background-color: #fff;
    border-radius: 10px;
    color: #7a7a7a;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 300;
}

section.main_page_questions .content p {
    padding-bottom: 18px;
    top: 0;
    transition: top 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
    text-align: justify;
}

section.main_page_teacher .teacher_wrapper, section.main_page_questions .question_wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

section.main_page_questions .question_wrapper {
    margin-top: 60px;
    margin-bottom: 75px;
}

section.main_page_questions .question_wrapper .question {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

section.main_page_questions .question_wrapper .question:last-child {
    margin-bottom: 0;
}

section.main_page_questions .question_wrapper .question:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.10);
}

section.main_page_teacher .teacher {
    width: 260px;
    margin: 0 20px 75px 20px;
    height: 100%;
}

section.main_page_teacher .teacher img {
    width: 100%;
}

section.main_page_teacher .teacher .info {
    margin-top: 20px;
    text-align: center;
}

section.main_page_teacher .teacher .info p.name {
    font-size: 22px;
    line-height: 1.35;
    font-weight: 500;
}

section.main_page_teacher .teacher .info p.position {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 300;
}

section.main_page_teacher .teacher .info ul {
    padding: 0;
    list-style: none;
}

section.main_page_teacher .teacher .info ul li {
    position: relative;
    /*padding-left: 15px;*/
    /*cursor: pointer;*/
}

section.main_page_teacher .teacher .info ul li::before {
    /*content: '';
    width: 4px;
    height: 4px;
    background: white;
    border: 1px solid #0bcf6b;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -3px;
    border-radius: 4px;
    transition: .3s;*/
}

section.main_page_teacher .teacher .info ul li p {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 400;
}

section.main_page_mediasoft {
    width: 100%;
    background: url("../images/academy.jpg") center -90px;
    background-size: cover;
    position: relative;
    padding: 75px 0;
    margin: 25px 0;
}

section.main_page_mediasoft::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
}

section.main_page_mediasoft .statistics {
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

section.main_page_mediasoft .statistics .mediasoft_today {
    text-align: center;
    font-size: 42px;
    line-height: 1.23;
    margin-bottom: 75px;
    font-weight: 500;
}

section.main_page_mediasoft .statistics .numbers {
    justify-content: space-around;
}

section.main_page_mediasoft .statistics .indicator {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.main_page_mediasoft .statistics .indicator .line {
    width: 100%;
    height: 1px;
    background: white;
    opacity: 0.2;
    margin: 14px 0;
}

section.main_page_mediasoft .statistics .indicator .value {
    font-size: 72px;
    font-weight: 500;
}

section.main_page_mediasoft .statistics .indicator .description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55;
    text-align: center;
    width: 100%;
}

section.main_page_gallery {
    padding: 0;
}

section.main_page_gallery .gallery_wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
}

section.main_page_gallery .image {
    margin: 20px;
}

section.main_page_gallery .image img {
    width: 340px;
    height: 100%;
    object-fit: cover;
}

section.main_page_info {
    padding: 75px 0 0 0;
}

section.main_page_info .info_wrapper {
    justify-content: space-around;
    margin: 25px 50px;
}

section.main_page_info .address,
section.main_page_info .contacts {
    width: 100%;
    position: relative;
}

section.main_page_info .address .icon,
section.main_page_info .contacts .icon {
    position: absolute;
    top: -8px;
    right: 50px;
    /*cursor: pointer;*/
    font-size: 70px;
    color: #7a7a7a;
    line-height: 1;
    transition: .2s;
}

/*section.main_page_info .address .icon:hover,
section.main_page_info .contacts .icon:hover {
    color: #7a7a7a;
}*/

section.main_page_info .info_title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

section.main_page_info .info_description {
    font-size: 16px;
    font-weight: 300;
    color: #7a7a7a;
    line-height: 1.55;
    margin-bottom: 10px;
}

section.main_page_info .contacts ul {
    list-style: none;
    padding: 0;
    line-height: 1.55;
}

section.main_page_info .contacts ul li {
    display: flex;
    color: #7a7a7a;
}

section.main_page_info .contacts ul li p.name_cell {
    font-weight: 500;
    margin-right: 5px;
}

section.main_page_info .contacts ul li p.value_cell, section.main_page_info .address .address_value span {
    font-weight: 300;
}

section.main_page_info .contacts ul li a {
    color: #7a7a7a;
    text-decoration: none;
}

section.main_page_info .contacts ul li a:hover {
    color: #0bcf6b;
}

section.main_page_info .contacts ul li p.value_cell.social_links a {
    margin: 0 2px;
}

section.main_page_info .address .address_value {
    font-size: 16px;
    color: #7a7a7a;
    line-height: 1.55;
}

#map {
    width: 100%;
    height: 500px;
    margin-top: 75px;
    background-color: black;
}

footer {
    width: 100%;
    background: black;
}

footer div.wrapper_footer {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}

footer div.wrapper_footer a {
    font-size: 14px;
    font-weight: 300;
    color: #6e6e6e;
    text-decoration: none;
    text-transform: lowercase;
    transition: .2s;
}

footer div.wrapper_footer a:hover {
    color: #0acf6b;
}

section.education_title {
    width: 100%;
    background: url("../images/panarama.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: relative;
    z-index: 1;
}

section.education_title::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .85);
}

section.education_title .logo {
    padding-top: 50px;
    width: 960px;
}

section.education_title .logo img {
    width: 100%;
}

section.education_title .description {
    padding: 50px 0;
}

section.education_title .description div.name_course {
    font-size: 46px;
    line-height: 1.4;
    text-transform: uppercase;
    color: white;
}

section.education_title .description div.price_course {
    font-size: 46px;
    line-height: 60px;
    color: #0bcf6b;
    font-weight: 300;
    margin-top: 10px;
    padding-bottom: 22px;
    position: relative;
}

section.education_title .description div.price_course:before {
    content: '';
    width: 200px;
    height: 2px;
    background: #0bcf6b;
    position: absolute;
    bottom: 0;
    left: 0;
}

section.education_title .description div.date_begin_course,
section.education_title .description div.schedule_course,
section.education_title .description div.address_course {
    font-size: 22px;
    color: white;
    line-height: 60px;
    font-weight: 300;
    margin-top: 10px;
}

section.education_title .description div.address_course span {
    white-space: nowrap;
}

section.education_about div.wrapper_section,
section.education_record div.wrapper_section {
    width: 600px;
}

section.education_about .light_section,
section.education_record .light_section {
    width: 50%;
    background: white;
    display: flex;
    justify-content: flex-end;
    padding: 50px 0;
}

section.education_about .dark_section,
section.education_record .dark_section {
    width: 50%;
    background: #747779;
    color: white;
    padding: 50px 40px;
}

section.education_about .title_section,
section.education_record .title_section {
    font-size: 46px;
    line-height: 1.4;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
}

section.education_about .title_section::before,
section.education_record .title_section::before {
    content: '';
    width: 200px;
    height: 2px;
    background: #0bcf6b;
    position: absolute;
    bottom: 0;
    left: 0;
}

section.education_about .content_section_wrapper {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
    margin-right: 30px;
}

section.education_about .content_section_wrapper li {
    margin-bottom: 10px;
}

section.education_about .content_section_wrapper a {
    text-decoration: none;
    color: #0bcf6b;
    cursor: pointer;
}

section.education_about .content_section_wrapper a:hover {
    text-decoration: underline;
}

section.education_about .content_section_wrapper b {
    font-weight: 600;
}

section.education_about .content_section_wrapper ul {
    list-style: none;
    padding: 0 0 0 20px;
}

section.education_about .content_section_wrapper ul li {
    position: relative;
}

section.education_about .content_section_wrapper ul li::before {
    position: absolute;
    top: 11px;
    left: -20px;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 4px;
    border: 1px solid #0bcf6b;
}

section.education_program {
    background: #f3f3f3;
    padding: 40px 0;
}

section.education_program .title_section {
    font-size: 46px;
    line-height: 1.4;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
}

section.education_program .title_section::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #0bcf6b;
}

section.education_program .wrapper_content {
    color: black;
    font-size: 21px;
    line-height: 1.4;
    font-weight: 300;
}

section.education_program .wrapper_content strong,
section.education_program .wrapper_content b {
    font-weight: 500;
}

section.education_program .wrapper_content ul {
    padding: 0 0 0 20px;
    list-style: none;
    margin-bottom: 20px;
}

section.education_program .wrapper_content ul li {
    position: relative;
    line-height: 1.4;
}

section.education_program .wrapper_content ul li::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    top: 11px;
    left: -15px;
    border-radius: 4px;
    border: 1px solid #0bcf6b;
}

section.education_record {
}

section.education_record .record_wrapper {
}

section.education_record ul {
    list-style: none;
    padding-left: 20px;
}

section.education_record ul li b {
    font-weight: 500;
    font-size: 25px;
}

section.education_record ul li {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px;
    position: relative;
}

section.education_record ul li a {
    text-decoration: none;
    color: #0bcf6b;
}

section.education_record ul li a:hover {
    color: black;
}

section.education_record ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: 11px;
    left: -15px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    border: 1px solid #0bcf6b;
}

section.education_record .record_block_wrapper {
}

section.education_record .record_block_wrapper .email,
section.education_record .record_block_wrapper .phone {
    margin-bottom: 10px;
}

section.education_record .record_block_wrapper .email a,
section.education_record .record_block_wrapper .phone a {
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

section.education_record .record_block_wrapper .email a:hover,
section.education_record .record_block_wrapper .phone a:hover {
    color: #0bcf6b;
}

section.education_record .person {
    align-items: center;
    margin-bottom: 20px;
}

section.education_record .person .image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 20px;
}

section.education_record .person .image a,
section.education_record .person .image img {
    width: 100%;
    height: 100%;
}

section.education_record .person .name p {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

section.education_record .person .name p a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

section.education_record .record_block_wrapper i {
    margin-right: 20px;
    width: 50px;
    color: #0bcf6b;
    text-align: center;
}

section.education_record .person .name p a:hover {
    color: #0bcf6b;
}

section.education_record .light_section {
    justify-content: flex-end;
}

section.education_record .light_section,
section.education_record .dark_section {
    width: 50%;
}

section.education_title .action_course {
    margin-top: 15px;
}

section.education_title .action_course a {
    color: white;
    width: 230px;
    border: 1px solid white;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: .2s;
    border-radius: 2px;
}

section.education_title .action_course a:hover {
    background: white;
    color: #0bcf6b;
}

#register {
    position: relative;
}

#register .close_modal {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #7a7a7a;
    font-size: 20px;
}

#register .close_modal:hover {
    color: #333;
}

#register .wrapper_form {
    width: 650px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    background: white;
    padding: 40px 20px 40px 20px;
    border-top: 5px solid #0bcf6b;
    border-radius: 4px;
}

#register form {
    width: 100%;
}

#register .form-group {
    margin-bottom: 20px;
}

#register input {
    width: 100%;
    height: 56px;
    background: white;
    padding: 0 0 0 10px;
    border: none;
    color: black;
    font-size: 16px;
    border-bottom: 1px solid #7a7a7a;
    transition: .2s;
}

#register input,
#register textarea {
    font-family: 'Roboto', sans-serif;
}

#register .has-error textarea,
#register .has-error input {
    border-bottom: 1px solid #ec4758;
}

#register .has-success textarea,
#register .has-success input {
    border-bottom: 1px solid #0bcf6b;
}

#register .has-error .help-block {
    font-size: 15px;
    color: #ec4757;
    padding: 3px 0 0 10px;
}

#register textarea:focus,
#register input:focus {
    border-bottom: 1px solid #0bcf6b;
}

#register textarea {
    width: 100%;
    height: 56px;
    background: white;
    padding: 10px 0 0 10px;
    border: none;
    color: black;
    font-size: 16px;
    border-bottom: 1px solid #7a7a7a;
    transition: .2s;
    resize: none;
}

#register button[type="submit"] {
    background: #0bcf6b;
    border: 1px solid #0bcf6b;
    font-size: 16px;
    color: white;
    width: 50%;
    display: block;
    margin: 0 auto;
    height: 56px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
}

#register h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 300;
    text-align: center;
}

#register .row_result {
    font-weight: 500;
    margin-bottom: 2px;
}

#register .row_result span {
    font-weight: 300;
}

#register .result {
    color: #333;
}

#register .result .description {
    margin: 20px 0;
}

#register .result .description ul {
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}

#register .result .description ul li {
    margin-bottom: 5px;
    font-weight: 500;
}

#register .result .description ul a {
    color: #0bcf6b;
    margin: 0 2px;
    transition: .1s;
    font-weight: 300;
}

#register .result .description ul a:hover {
    color: #7a7a7a;
}

#register .result .close_modal {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    background: #0bcf6b;
    border: 1px solid #0bcf6b;
    font-size: 16px;
    color: white;
    width: 50%;
    margin: 0 auto;
    height: 56px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 56px;
}

section.group_block {
}

section.group_block .wrapper_section {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
}

section.group_block .wrapper_section h2 {
    font-size: 46px;
    line-height: 1.4;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
}

section.group_block .wrapper_section h2::before {
    content: '';
    width: 200px;
    height: 2px;
    background: #0bcf6b;
    position: absolute;
    bottom: 0;
    left: 0;
}

section.group_block .wrapper_section ul {
    list-style: none;
    padding: 0 0 0 20px;
}

section.group_block .wrapper_section li {
    position: relative;
    margin-bottom: 10px;
}

section.group_block .wrapper_section li::before {
    position: absolute;
    top: 11px;
    left: -20px;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 4px;
    border: 1px solid #0bcf6b;
}

section.schedule {
    padding: 30px 0;
}

section.schedule_list .section_title,
section.schedule .section_title {
    font-size: 42px;
    text-align: center;
    line-height: 1.43;
}

section.schedule div.schedule_table {
    margin: 20px 0;
}

section.schedule div.schedule_table table {
    width: 100%;
    border-collapse: collapse;
}

section.schedule div.schedule_table table th,
section.schedule div.schedule_table table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-weight: 300;
    font-size: 22px;
}

section.main_page_courses.schedule_list {
    padding: 30px 0;
}

div.video_bg video,
div.video_bg {
    width: 100%;
    height: 441px;
    position: relative;
    object-fit: cover;
}

div.video_bg video {
    filter: blur(3px);
}

div.video_bg::before {
    width: 100%;
    height: 100%;
    background: #000000d1;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 1;
}

section.main_page_top {
    /*background: none;*/
    height: 441px;
    overflow: hidden;
}

section.main_page_top > div.flex,
section.main_page_top {
    /*height: 700px;*/
}

section.main_page_top > div.flex {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


.swiper-container {
    display: none;
}

section.main_page_description {
}

.toggle-button, .toggle-arrow {
    position: fixed;
    width: 44px;
    height: 40px;
    padding: 4px;
    transition: .25s;
    z-index: 15;
    top: 40px;
    right: 40px;
}

.toggle-arrow {
    left: 120px;
    top: 65px;
}

.arrow-svg {
    background: url(../images/iconfinder-icon.svg), no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

@-webkit-keyframes arrow-jump {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -o-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}

.toggle-arrow a i {
    -webkit-animation: arrow-jump 1s infinite;
    -moz-animation: arrow-jump 1s infinite;
    -o-animation: arrow-jump 1s infinite;
    animation: arrow-jump 1s infinite;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: .5s;
}

.toggle-button .menu-bar-top {
    border: 4px solid #0fcf6a;
    border-bottom: none;
    top: 0;
}

.toggle-button .menu-bar-middle, .toggle-arrow .arrow-bar {
    height: 4px;
    background-color: #0fcf6a;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
}

.toggle-button .menu-bar-bottom {
    border: 4px solid #0fcf6a;
    border-top: none;
    top: 22px;
}

.button-open .menu-bar-top {
    transform: rotate(45deg) translate(8px, 8px);
    transition: .5s;
}

.button-open .menu-bar-middle {
    transform: translate(-130px);
    transition: .1s ease-in;
    opacity: 0;
}

.button-open .menu-bar-bottom {
    transform: rotate(-45deg) translate(8px, -7px);
    transition: .5s;
}

.menu-wrap {
    background-color: black;
    position: fixed;
    top: 0;
    height: 100%;
    width: 350px;
    margin-left: 100%;
    font-weight: 300;
    overflow: auto;
    transition: .25s;
    z-index: 10;
}

.menu-wrap.menu-show {
    margin-left: calc(100% - 350px);
}

#content_menu .menu-sidebar {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 90px 0 0 0;
    display: flex;
    flex-direction: column;
}

nav.links {
    flex-grow: 1;
}

nav.social {
    flex-grow: 0;
    padding: 50px 40px;
}

nav.social a:hover {
    color: #0fcf6a;
}

nav.links ul {
}

nav.links ul li {
    margin-bottom: 15px;
}

nav.social a,
nav.links a {
    color: white;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}

nav.social a {
    font-size: 30px;
}

nav.links a:hover {
    color: #0fcf6a;
}

nav.social .social_links {
    display: flex;
    justify-content: space-around;
}

.page-policy {
    padding-top: 75px;
    width: 960px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto;
    color: #7a7a7a;
}

form p.policy {
    font-size: 12px;
    text-align: center;
    opacity: 0.4;
    margin-top: 15px;
}

form p.policy a.link {
    color: #0bcf6b;
    text-decoration-line: unset;
}

@media screen and (max-width: 1578px) {
    .toggle-arrow {
        left: 50px;
    }
}

@media screen and (max-width: 1380px) {
    .toggle-arrow {
        left: 10px;
        top: 0;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: calc(100% - 10%);
        margin: 0 auto;
    }

    section.education_title .logo {
        width: 100%;
    }

    section.main_page_description div.description_text, .page-policy {
        width: 100%;
    }

    section.main_page_courses div.course, .course-ege {
        width: 40%;
    }

    section.main_page_info .contacts .icon,
    section.main_page_info .address .icon {
        display: none;
    }
}

@media screen and (max-width: 850px) {

    .toggle-button {
        width: 30px;
        height: 30px;
        top: 10px;
        right: 6px;
    }

    .toggle-button .menu-bar-middle {
        top: 1px;
    }

    .toggle-button .menu-bar-bottom {
        top: 16px;
    }

    .button-open .menu-bar-top {
        transform: rotate(45deg) translate(4px, 4px);
    }

    section.main_page_gallery .container {
        width: 100%;
    }


    section.education_title .description div.date_begin_course,
    section.education_title .description div.schedule_course,
    section.education_title .description div.address_course {
        line-height: 30px;
    }

    section.education_title .description div.date_begin_course,
    section.education_title .description div.schedule_course,
    section.education_title .description div.address_course {
        font-size: 16px;
        font-weight: 300;
    }

    section.education_title .action_course {
        /*margin-top: 10px;*/
        margin: 20px 0;
    }

    section.main_page_top .logo_academy, section.main_page_description div.description_text, .container, .page-policy {
        width: 620px;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Страница курса start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*section.education_title .logo {
        margin: auto;
    }*/
    section.education_about div.wrapper_section,
    section.education_record div.wrapper_section {
        width: 100%;
    }

    section.education_about .light_section,
    section.education_record .light_section {
        width: 45%;
        margin-left: 75px;
        padding: 50px 0;
    }

    section.education_title .description div.name_course,
    section.education_title .description div.price_course {
        font-size: 42px;
        font-weight: 400;
    }

    section.education_title .description div.price_course,
    section.education_about .title_section {
        font-weight: 300;
    }

    section.education_about .title_section,
    section.education_program .title_section,
    section.education_record .title_section,
    section.schedule_list .section_title,
    section.group_block .wrapper_section h2,
    section.schedule .section_title {
        font-size: 32px;
        font-weight: 400;
    }

    section.schedule_list .section_title {
        margin-bottom: 15px;
    }

    section.education_about .content_section_wrapper,
    section.education_record ul li,
    section.education_record .person .name p a,
    section.education_record ul li b,
    section.education_record .record_block_wrapper .email a,
    section.education_record .record_block_wrapper .phone a {
        font-size: 20px;
        font-weight: 300;
    }

    div.course div.course_action p.link,
    div.course-ege div.course_action p.link,
    section.group_block .wrapper_section,
    section.schedule div.schedule_table table th,
    section.schedule div.schedule_table table td,
    section.education_record .person .name p {
        font-size: 16px;
    }

    section.main_page_teacher .teacher .info p.position,
    section.main_page_questions .content p {
        font-size: 12px;
        margin-bottom: 4px;
    }


    section.education_about .dark_section, section.education_record .dark_section {
        padding: 50px 20px 50px 50px;
        width: 55%;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Страница курса end~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    .swiper-container {
        display: block;
        width: 100%;
        height: 500px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    section.main_page_courses div.course, .course-ege {
        width: 290px;
        height: 167px;
        margin: 10px;
    }

    div.course div.course_info, div.course-ege div.course_info {
        height: 120px;
    }

    section.main_page_teacher .teacher img {
        margin-top: 20px;
    }

    section.main_page_teacher .teacher {
        width: 100%;
        margin: 0;
    }

    .swiper-pagination-bullet-active {
        background: #0acf6b;
    }


    section.main_page_teacher .teacher_description {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 300;
    }

    section.main_page_teacher {
        padding: 90px 0 90px 0;
    }

    section.main_page_teacher .title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    section.main_page_teacher .teacher .info p.name,
    section.main_page_questions .collapsible p,
    section.main_page_questions .other-questions {
        margin-bottom: 4px;
        font-size: 18px;
    }

    .teacher_desktop, .gallery_desktop {
        display: none;
    }

    #map {
        margin-top: 45px;
    }

    section.main_page_info .info_title {
        font-size: 22px;
    }

    section.main_page_info .contacts {
        padding-bottom: 40px;
    }

    section.main_page_info .address {
        padding-bottom: 75px;
    }

    section.main_page_info .contacts .icon, section.main_page_info .address .icon {
        display: none;
    }

    section.main_page_info .contacts .info_description,
    section.main_page_info .contacts ul,
    section.main_page_info .address .address_value,
    section.main_page_info .info_description {
        font-size: 14px;
        line-height: 1.45;
    }

    section.main_page_info .info_wrapper {
        flex-direction: row;
        margin: 0;
    }

    section.main_page_description, section.main_page_teacher, .page-policy {
        padding: 75px 0;
    }

    section.main_page_top div.tagline {
        font-size: 20px;
        line-height: 1.45;
        padding: 0 30px;
    }

    section.main_page_description div.description_text {
        font-size: 20px;
        padding: 0 10px;
    }

    section.main_page_sign_up .title,
    section.main_page_courses .title,
    section.main_page_questions .title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    div.course div.course_info p.course_title,
    div.course-ege div.course_info p.course_title, section.main_page_sign_up p.form_description {
        font-size: 18px;
        margin-bottom: 15px;
    }

    div.course div.course_info p.course_status, div.course-ege div.course_info p.course_status {
        font-size: 16px;
    }

    section.main_page_sign_up p.form_description {
        padding: 0 10px;
        margin-bottom: 30px;
        font-weight: 300;
    }


    section.main_page_mediasoft .statistics .indicator .description {
        padding-top: 4px;
        padding-bottom: 6px;
        font-size: 14px;
        line-height: 1.45;
        font-weight: 300;
    }

    section.main_page_mediasoft {
        padding: 75px 0;
        margin: 0;
    }

    section.main_page_mediasoft .statistics .indicator .line {
        margin: 10px 0;
    }

    section.main_page_mediasoft .statistics .indicator .value {
        font-size: 30px;
        padding-top: 8px;
        padding-bottom: 0;
    }

    section.main_page_mediasoft .statistics .numbers {
        flex-direction: row;
    }

    section.main_page_mediasoft .statistics .indicator {
        margin-top: 20px;
    }

    section.main_page_mediasoft .statistics .mediasoft_today {
        margin: 0 auto 15px auto;
        font-size: 30px;
    }

    section.main_page_gallery .image img {
        width: 100%;
        object-fit: cover;
        object-position: 0;
        height: 100%;
    }

    section.main_page_gallery .swiper-container {
        height: 500px;
    }

    section.main_page_gallery .image {
        margin: 5px;
        width: 100%;
        height: 350px;
    }

    section.main_page_info {
        padding: 45px 0 0 0;
    }

    .swiper-slide:nth-child(n) {
        width: 70%;
    }

    .gallery_swiper_next, .gallery_swiper_prev {
        opacity: 0.5;
    }
}

@media screen and (max-width: 600px) {

    #register .wrapper_form,
    #register button[type="submit"] {
        width: 100%;
    }

    #register .wrapper_form {
        min-width: 300px;
    }

    #register .close_modal {
        top: 15px;
        right: 15px;
    }

    #register h2 {
        font-size: 16px;
    }

    #register input,
    #register textarea,
    #register button[type="submit"] {
        height: 40px;
    }

    #register input,
    #register textarea,
    #register button[type="submit"] {
        font-size: 16px;
    }

    #register .wrapper_form {
        min-width: 300px;
        max-height: 100vh;
        overflow-y: auto;
    }

    .toggle-arrow {
        left: 10px;
        top: 71px;
    }

    .menu-wrap {
        width: 100%;
    }

    .menu-wrap.menu-show {
        margin-left: 0;
    }

    .container {
        max-width: 100%;
        width: 310px;
        margin: 0 auto;
    }

    section.main_page_top .logo_academy, section.main_page_description div.description_text, .page-policy {
        width: 100%;
    }

    section.main_page_mediasoft .statistics .numbers {
        flex-direction: column;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~Страница курса start*/
    section.education_title .logo {
        width: 100%;
        padding-top: 25px;
    }

    section.education_title .description {
        padding: 25px 0;
    }

    section.education_title .description div.name_course,
    section.education_about .title_section,
    section.education_record .title_section,
    section.education_program .title_section {
        font-size: 22px;
    }

    section.education_title .description div.price_course {
        font-size: 18px;
        line-height: 20px;
    }

    section.education_title .description div.schedule_course,
    section.education_title .description div.address_course,
    section.education_about .content_section_wrapper,
    section.main_page_teacher .teacher_description,
    section.main_page_description div.description_text,
    section.education_program .wrapper_content,
    section.education_record ul li,
    section.education_record .person .name p,
    section.education_record .record_block_wrapper .email a,
    section.education_record .record_block_wrapper .phone a, .page-policy {
        font-size: 16px;
    }

    .gallery_swiper_prev, .gallery_swiper_next {
        opacity: 1;
    }

    section.education_title .description div.address_course,
    section.schedule div.schedule_table table th,
    section.schedule div.schedule_table table td {
        font-size: 13px;
    }

    section.main_page_mediasoft .statistics .mediasoft_today {
        font-size: 26px;
    }

    section.main_page_mediasoft .statistics .indicator .value {
        font-size: 30px;
    }

    section.education_about .light_section, section.education_record .light_section,
    section.education_about .dark_section, section.education_record .dark_section {
        width: 100%;
        margin: 0;
        padding: 6% 9%;
    }

    .about_wrapper.flex,
    section.education_record .record_wrapper {
        flex-direction: column;
    }

    section.education_title .description div.address_course {
        width: 100%;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~Страница курса end*/
    section.main_page_top {
        height: 240px;
    }

    section.main_page_top > div.flex {
        height: 220px;
    }

    section.main_page_top .logo_academy {
        margin-bottom: 30px;
    }

    section.main_page_top div.tagline {
        margin-top: 30px;
    }

    section.main_page_teacher .teacher_description {
        margin: 0 20px 45px 20px;
    }

    section.main_page_gallery .swiper-container {
        height: 350px;
        width: 100%;
    }

    .swiper-slide:nth-child(n) {
        width: 100%;
    }

    section.main_page_top div.tagline {
        padding: 0 0;
    }

    section.main_page_description, .page-policy {
        padding: 30px 0 75px 0;
    }

    .page-policy {
        padding-left: 10px;
        padding-right: 10px;
    }

    section.main_page_gallery .image img {
        min-width: 310px;
        height: 100%;
    }

    section.main_page_gallery .image {
        margin: 0;
        height: 250px;
    }

    section.main_page_mediasoft .statistics .mediasoft_today, section.main_page_mediasoft .statistics .indicator {
        width: 100%;
    }

    section.main_page_info .contacts .info_description,
    section.main_page_info .contacts ul,
    section.main_page_info .address .address_value,
    section.main_page_info .info_description {
        font-size: 14px;
    }

    section.main_page_info .info_title {
        font-size: 20px;
        text-align: center;
    }

    section.main_page_info {
        padding: 0;
    }

    section.main_page_info .info_wrapper {
        max-width: 100%;
        flex-direction: column;
    }

    section.main_page_mediasoft .statistics .indicator .line {
        margin: 10px 0;
    }

    .address_value {
        width: 80%;
    }

    #map {
        margin-top: 0;
        height: 250px;
    }

    footer div.wrapper_footer {
        height: 40px;
    }

    section.main_page_questions .collapsible p {
        width: 90%;
    }
}


@media screen and (min-width: 300px) and (max-width: 600px) {

    section.main_page_top div.tagline {
        font-size: 14px;
    }

    .toggle-arrow {
        left: 5px;
        top: 0px;
        padding: 0;
    }

    section.main_page_top > div.flex,
    section.main_page_top {
        height: 300px;
    }
}

@media screen and (max-width: 300px) {
    .toggle-button, .toggle-arrow {
        top: 0px;
    }

    .container {
        width: 220px;
        max-width: 100%;
    }


    .address_value {
        width: 100%;
    }

    section.main_page_mediasoft .statistics .indicator .value {
        font-size: 16vw;
    }

    section.main_page_mediasoft .statistics .mediasoft_today {
        font-size: 11vw;
    }

    section.main_page_sign_up .title,
    section.main_page_courses .title {
        font-size: 9vw;
        margin-bottom: 10px;
    }

    section.main_page_top div.tagline {
        font-size: 6vw;
    }

    section.main_page_info .contacts .info_description,
    section.main_page_info .contacts ul,
    section.main_page_info .address .address_value,
    section.main_page_info .info_description,
    section.main_page_sign_up .select2-container--default .select2-selection--single .select2-selection__rendered,
    div.course div.course_info p.course_status {
        font-size: 5vw;
    }

    .swiper-container {
        height: 400px;
    }

    section.main_page_teacher .teacher_description {
        margin: 0 20px 15px 20px;
    }

    section.main_page_gallery,
    section.main_page_description,
    section.main_page_teacher,
    section.main_page_mediasoft {
        padding: 50px 0;
    }

    section.main_page_gallery .swiper-container {
        height: 250px;
    }

    section.main_page_gallery .image {
        height: 160px;
    }

    section.main_page_gallery .image img {
        min-width: 100%;
    }

}

.error-page {
}

.error-page__content {
    text-align: center;
    min-height: calc(100vh - 441px - 70px);
}

@media screen and (max-width: 600px) {
    .error-page__content {
        min-height: calc(100vh - 240px - 40px);
    }
}

.game {
    background: black;
}

.game__info {
    color: #fff;
    text-align: center;
}

.error-page__title {
    font-size: 72px;
    font-weight: bold;
    margin-top: 40px;
}

.error-page__description {
    color: #7a7a7a;
}

.error-page__back {
    margin-top: 20px;
    margin-bottom: 40px;
}

.error-page__back a {
    color: #0bcf6b;
    font-size: 18px;
    font-weight: 500;
}
